[submodule "worktime-frontend"]
	path = worktime-frontend
	url = https://github.com/andrewgein/worktime-frontend
[submodule "worktime-backend/profile-service"]
	path = worktime-backend/profile-service
	url = https://github.com/lessmade/profile-service.git
[submodule "worktime-backend/gateway"]
	path = worktime-backend/gateway
	url = https://github.com/rahmedovdamir/api-gateway
[submodule "worktime-backend/auth-service"]
	path = worktime-backend/auth-service
	url = https://github.com/rahmedovdamir/auth-service.git
[submodule "worktime-backend/notification-service"]
	path = worktime-backend/notification-service
	url = https://github.com/rahmedovdamir/notification-service.git
[submodule "worktime-backend/task-service"]
	path = worktime-backend/task-service
	url = https://github.com/lessmade/task-service
[submodule "worktime-backend/team_service"]
	path = worktime-backend/team-service
	url = https://github.com/rahmedovdamir/team_service
